{% extends 'user/basic.html' %} {% load static %}
{% block title %} {{page_data.page_name}}{% endblock title%} {% block css %}
<style>
    
    .properties-description p strong {
        font-weight: bolder !important;
        color: #dc3545;
        margin-top: 5px !important;
        margin-bottom: 0px o !important;
    }

    .properties-description li {
        list-style-type: square;
        margin-left: 15px;
    }

    .product-slider-box img {
        height: 400px;
    }

    .product-slider-box .gallary_img {
        height: 120px;
    }

    .properties-description h1{
        font-size:16px;
    }

    @media screen and (max-width: 768px) {
        .product-slider-box img {
            height: 250px;
        }

        .product-slider-box .gallary_img {
            height: 70px;
        }
     
    }
</style> {% endblock css %}

<style>

</style>
{% block body %}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Properties Detail</h1>
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li class="active">Properties Detail</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Properties details page start -->
<div class="properties-details-page content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <!-- Heading properties 3 start -->
                <div class="heading-properties-3">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h1>{{property.title}}</h1>
                        </div>
                        <div class="pull-right">
                            <h1><span>£{{property.price}}</span></h1>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="pull-left">

                            <p><i class="flaticon-pin"></i>{{property.adddress}}</p>
                        </div>
                        <div class="pull-right">
                            <p><span>{{property.area}} / sq ft</span></p>
                        </div>
                    </div>
                </div>
                <!-- Properties desciption start -->
                <div class="product-slider-box cds-2 clearfix mb-40">
                    <div class="product-img-slide">
                        <div class="slider-for">
                            {%for img in prop_images%}
                            <a href="/media/{{img.images}}">
                                <img src="/media/{{img.images}}" class="opend_img img-fluid w-100"
                                    alt="slider-photo" /></a>
                            {%endfor%}
                        </div>
                        <div class="slider-nav">
                            {%for img in prop_images%}
                            <img src="/media/{{img.images}}" class="gallary_img img-fluid w-100" alt="slider-photo" />
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <!-- Properties description start -->

                <div class="properties-description mb-40">
                    <h3 class="heading-2">Description</h3>

                    {{property.content | safe}}
                </div>


                <!-- Properties amenities start -->
                <div class="properties-amenities mb-40">
                    <h3 class="heading-2">Features</h3>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <ul class="amenities">
                                {%for feature in feature_data.feature_list%}
                                <li><i class="fa fa-check"></i>{{feature.feature}}</li>
                                {%endfor%}
                        </div>
                    </div>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
                    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
                    crossorigin="anonymous">
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                    crossorigin="anonymous"></script>


                <div class="floor-plans mb-50" id="mobile_view_table">
                    <h3 class="heading-2">Floor Plans</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Size:</th>
                                <td>{{property.area}} / sq ft</td>
                            </tr>
                            <tr>
                                <th>Rooms:</th>
                                <td>{{furniture_data.room}}</td>
                            </tr>
                            <tr>
                                <th>Bathrooms:</th>
                                <td>{{furniture_data.bathrooms}}</td>
                            </tr>
                            <tr>
                                <th>Year Built:</th>
                                <td>{{property.year_built}}</td>
                            </tr>
                            <tr>
                                <th>Property Type:</th>
                                <td>{{property.type}}</td>
                            </tr>
                            <tr>
                                <th>Property Status:</th>
                                <td>{{feature_data.status_list}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

         
            <div class="block-wrap">
                <div class="block-title-wrap">
                    <h3 class="heading-2">Mortgage Calculator</h3>
                </div>

                <form id="loan-form" class="mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Total Amount</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">£</div>
                                    </div><!-- input-group-prepend -->
                                    <input id="amount" type="text" class="form-control" placeholder="Total Amount"
                                        value="210750">
                                </div><!-- input-group -->
                            </div><!-- form-group -->
                        </div><!-- col-md-4 -->

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Interest Rate</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">%</div>
                                    </div><!-- input-group-prepend -->
                                    <input id="interest" type="text" class="form-control" placeholder="Interest Rate"
                                        value="3">
                                </div><!-- input-group -->
                            </div><!-- form-group -->
                        </div><!-- col-md-4 -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Loan Terms (Years)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="houzez-icon bi bi-calendar"></i>
                                        </div>
                                    </div><!-- input-group-prepend -->
                                    <input id="years" type="text" class="form-control" placeholder="Loan Terms (Years)"
                                        value="20">
                                </div><!-- input-group -->
                            </div><!-- form-group -->
                        </div><!-- col-md-4 -->

                        <div class="col-md-12">
                            <input type="submit" value="Calculate" class="btn btn-outline btn-block mt-2" />
                        </div><!-- col-md-12 -->
                    </div><!-- row -->
                </form>
            </div>


            <!-- Loader Here -->
            <div id="loading">
            </div>
            <!-- Results -->
            <div id="result">
                <div class="form-group">
                    <div class="floor-plans mb-50">
                        <table>
                            <tbody>
                                <tr>
                                    <td><strong>Monthly Payment</strong></td>
                                    <td><strong>Total Payment</strong></td>
                                    <td><strong>Total Interest</strong></td>
                                </tr>
                                <tr>
                                    <td> <input type="number" class="form-control" id="monthly-payment" disabled
                                            value='{{Calculated_data.monthlyPayment}}' /></td>
                                    <td> <input type="number" class="form-control" id="total-payment" disabled
                                            value="{{Calculated_data.totalPayment}}" /></td>
                                    <td> <input type="number" class="form-control" id="total-interest" disabled
                                            value="{{Calculated_data.totalInterest}}" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>





            <a class="btn btn-outline btn-slim mb-3" href="http://maps.google.com/?q={{property.adddress}}"
                target="_blank"><i class="bi bi-map mr-1"></i> Open on Google
                Maps</a>

            <!-- Location start -->
            <div class="location mb-50">
                <div class="map">
                    <h3 class="heading-2">Property Location</h3>
                    <div id="map" class="contact-map"></div>
                </div>
            </div>

            <input type="hidden" id="location_coord" ,name="location_coord" value="{{location_coord}}">
            <!-- Inside properties start -->
            <div class="inside-properties mb-50">
                <h3 class="heading-2">Property Video</h3>
                <iframe src="https://www.youtube.com/embed/5e0LxrLSzok" allowfullscreen=""></iframe>
            </div>
            <!-- Similar Properties start -->



            <h3 class="heading-2">Similar Properties</h3>
            <div class="row similar-properties">
                {%for property in similar_properties%}
                <div class="col-md-6">
                    <div class="property-box">
                        <div class="property-photo">
                            <a href="/properties/{{property.id}}" class="property-img">
                                <div class="listing-badges">
                                    <span class="featured">Featured</span>
                                </div>
                                <div class="price-box">From <span>£ {{property.price}}</span></div>
                                <img class="d-block w-100" src="/media/{{property.image}}" alt="properties"
                                    style="height:300px;" />
                            </a>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="/properties/{{property.id}}">{{property.title}}</a>
                            </h1>

                            <div class="location">
                                <a href="/properties/{{property.id}}">
                                    <i class="flaticon-pin"></i>{{property.adddress}}</a>
                            </div>
                        </div>
                        <ul class="facilities-list clearfix">
                            <li>
                                <span>Area</span>{{property.area}}
                            </li>
                            <li>
                                <span>Beds</span> {{property.bathrooms}}
                            </li>
                            <li>
                                <span>Baths</span> {{property.room}}
                            </li>
                            <li>
                                <span>Garage</span> 1
                            </li>
                        </ul>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="sidebar-right">


                <!-- Advanced search start -->
                <div class="widget advanced-search">
                    <h3>Property From</h3>
                    <div class="pipedriveWebForms"
                        data-pd-webforms=https://webforms.pipedrive.com/f/cB7meCB7GbTrgUwl1wvr6F0GvWoG7Z5U9Qk6y8Jc1DZeGGQwaVaV0Ktrgr92kk7fvJ>
                        <script src=https://webforms.pipedrive.com/f/loader></script>
                    </div>
                    <!-- <p>Enter your contact details below for a free no-obligation chat with one of our experienced property
              brokers,</p>
            <form action="/send-property-form" method="POST">
              {%csrf_token%}
              <div class="form-group form-box">
                <input type="text" name="fname" class="form-control" placeholder="First Name" aria-label="First Name" required/>
              </div>
              <div class="form-group form-box">
                <input type="text" name="lname" class="form-control" placeholder="Last Name" aria-label="Last Name" required/>
              </div>
              <div class="form-group form-box">
                <input type="email" name="email" class="form-control" placeholder="Email Address"
                  aria-label="Email Address" required/>
              </div>
              <div class="form-group form-box">
                <input type="phone" name="phone" class="form-control" placeholder="Phone Number"
                  aria-label="Phone Number" required/>
              </div>

                <div class="form-group form-box">
                <textarea  class="form-control" name="message" placeholder="Write message" aria-label="Write message"></textarea>
            </div>
              <div class="form-group form-box checkbox clearfix">
                <div class="form-check checkbox-theme">
                  <input class="form-check-input" type="checkbox" value="" id="termsOfService" required/>
                  <label class="form-check-label" for="termsOfService">
                    I agree to the<a href="#" class="terms">terms of service</a>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn-md btn-theme w-100">
                  Sumbit
                </button>
              </div>
            </form> -->


                </div>



                <!-- Recent properties start -->
                <div class="widget recent-properties">
                    <h3 class="sidebar-title">Recent Properties</h3>
                    <div class="s-border"></div>
                    <div class="m-border"></div>

                    {%for property in common_properties_data.recent_properties%}
                    <div class="d-flex mb-3 recent-posts-box">
                        <a class="pr-3" href="/properties/{{property.id}}">
                            <img src="/media/{{property.image}}" alt="small-properties" class="flex-shrink-0 me-3" />
                        </a>
                        <div class="detail align-self-center">
                            <h5>
                                <a href="/properties/{{property.id}}">{{property.title}}</a>
                            </h5>
                            <div class="listing-post-meta">
                                ${{property.price}}
                                <a href="/properties/{{property.id}}"><i class="fa fa-calendar"></i>
                                    {{property.pub_date}} </a>
                            </div>
                        </div>
                    </div>

                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock body%}
</div>