
.button-theme {
    background: #b3c211;
}

.button-theme:hover {
    background: #9ba901;
}

.contact-section .form-section .btn-theme {
    background: #b3c211;
}

.contact-section .form-section .btn-theme:hover {
    background: #9ba901;
}

.header-with-top2{
    background: #b3c211;
}

.get-in-touch .get-in-touch-box:hover i {
    color: #b3c211;
}

mark {
    background: #b3c211;
}

.glyph:hover .bshadow0 .lnr{
    color: #b3c211;
}

.intro-section .intro-section-inner:before {
    background: #9ba901;
}

.intro-section .intro-section-inner:after {
    background:  #9ba901;
}

.intro-section-2 .btn {
    background: #b3c211;
}

.intro-section .intro-section-inner {
    background: #b3c211;
}

.team-5:hover .team-details{
    background-color: #b3c211;
}

.btn-secton .carousel-indicators .active {
    background-color: #b3c211;
}

.testimonial-3 .carousel-indicators li.active{
    background: #b3c211;
}

.testimonial-3 .testimonial-info h5 a{
    color: #b3c211;
}

.counter-box h1{
    color: #b3c211;
}

.counters-2 .counter-box h2{
    color: #b3c211;
}

.main-title-3 h1 span {
    color: #b3c211;
}

.main-title-3 p {
    color: #b3c211;
}

.main-title-5 h1 span {
    color: #b3c211;
}

@keyframes pulse {
    0%, 100% {
        background-color: #b3c211;
    }
    50% {
        background-color: #b3c211;
    }
}

.main-title-2 .section-subtitle {
    color: #b3c211;
}

.main-title-2 .section-subtitle::before {
    background: #b3c211;
}

.team-2 .detail h5 {
    color: #b3c211;
}

.get-in-touch .get-in-touch-box:hover i {
    color: #b3c211;
}

.services-2 .service-info .icon i{
    color: #b3c211!important;
}

.service-info .icon i {
    color: #b3c211;
}

.service-info:hover .icon {
    background: #b3c211;
}

.popular-places .new{
    color: #b3c211;
}

.popular-places:hover .new{
    background: #b3c211;
    color: #fff;
}

.service-info-4::before {
    background: #b3c211;
}

.btn-4:hover{
    color: #b3c211!important;
}

.btn-4 {
    background: #b3c211;
}

.btn-5 {
    border: 2px solid #b3c211;
    color: #b3c211;
}

.btn-5:before, .btn-5:after {
    background: #b3c211;
}

.btn-6 {
    background: #b3c211;
}

.btn-6:before {
    background: #b3c211;
}

.btn-6:after {
    background: #b3c211;
}

.btn-6:hover {
    color: #b3c211;
    border: 2px solid #b3c211;
}

.btn-7:hover{
    color: #b3c211;
}

.category-innerbox-2:hover .category-icon {
    background: #b3c211;
}

.rating-area .average-rating {
    background: #b3c211;
}

.testimonial .testimonial-info-box h6{
    color: #b3c211;
}

.intro-section-2 .btn:hover {
    background: #9ba901;
}

.properties-details-Slider .heading-listing-3 .rent {
    border: solid 1px #b3c211;
    background: #b3c211;
}

.properties-details-Slider .heading-listing-3 .location i {
    color: #b3c211;
}

.properties-details-Slider .price {
    color: #b3c211;
}

.setting-button i{
    color: #b3c211;
}
.property-box-5 .tag-2{
    background: #b3c211;
}

.dashboard-header .breadcrumb-nav ul li a:hover{
    color: #b3c211;
}

.top-header {
    background-color: #b3c211;
}

.blog-2 .date-box {
    background: #b3c211;
}

.blog-2 .date-box::after {
    border-right: 15px solid #b3c211;
}

#page_scroller {
    background: #b3c211;
}

.service-info-2 .icon i{
    color: #b3c211;
}

.service-info-3:before {
    background: #b3c211;
}

.service-info-3:after {
    background: #b3c211;
}

.service-info-3 i {
    color: #b3c211;
}

.single-info-2 .icon i{
    color: #b3c211;
}

.single-info-2:hover a{
    color: #b3c211;
}

.team-5 .team-details .user{
    color: #b3c211;
}

.tag{
    background: #b3c211;
}

.property-box:hover .tag{
    color: #b3c211;
}

.property-box:hover .featured {
    color: #b3c211;
}

.blog-3 h3 a:hover{
    color: #b3c211;
}

.property-box-5:hover .featured {
    color: #b3c211;
}

.blog-3 .date-box{
    color: #b3c211;
}

.blog-3 .date-box span {
    color: #b3c211;
}

.pricing-1 .pricing-btn {
    border: solid 1px #b3c211;
    color: #b3c211;
}

.details-banner .cover-buttons ul li i{
    color: #b3c211;
}

.details-banner h1 span{
    color: #b3c211;
}

.pricing-1:hover .pricing-btn {
    color: #b3c211;
}

.pricing-1::before {
    background: #b3c211;
}

.pricing-1 .plan-list ul li i{
    color: #b3c211;
}

.pricing-1 .plan-header .plan-price{
    color: #b3c211;
}

.search-button:hover {
    color: #fff;
    background: #9ba901;
}

.property-box-5:hover .tag-2{
    color: #b3c211;
}

.property-box-2:hover .tag{
    color: #b3c211;
}

.property-box-4:hover h3 a{
    color: #b3c211;
}

.property-box-4:hover .properties-listing ul li{
    color: #b3c211;
}

.property-box-4:before {
    background: #b3c211;
}

.property-box-4:after {
    background: #b3c211;
}

.single-info-2:before {
    background-color: #b3c211;
    opacity: .08;
}

.property-box-2:hover .featured {
    color: #b3c211;
}

.services-4 .service-info-2 .icon {
    color: #b3c211;
}

.counters-4 .counter-box-3 i {
    color: #b3c211;
}

.services-4 .service-info-2 .rm-btn{
    color: #b3c211;
}

.counter-box-1 h1 {
    color: #b3c211;
}

.counter-box-1 .icon i{
    color: #b3c211;
}

.counter-box-2 h1{
    color: #b3c211;
}

.counter-box-3 h2 {
    color: #b3c211;
}

.counter-box-3:hover .icon {
    border: dashed 1px #b3c211;
    background: #b3c211;
}

.property-box-3 .footer ul li a:hover{
    color: #b3c211;
}

.counter-box-1:hover .icon{
    background: #b3c211;
}

.service-info-4 i {
    color: #b3c211;
}

.sidebar-navigation .menu-list li a .badge {
    float: right;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 600;
    color: #fff;
    background-color: #b3c211;
}

.bg-active-2{
    background-color: #b3c211;
    border: none;
}

#dismiss {
    color: #b3c211;
}

.sidebar-navigation ul li a:hover{
    color: #b3c211;
}

.sidebar-navigation .active{
    color: #b3c211;
}

.get-in-touch .media:hover i{
    color: #b3c211;
}

.testimonial .testimonial-info-box::before {
    background-color: #b3c211;
}

.service-info-4 i{
    color: #b3c211;
}

.service-info-4 .read-more {
    color: #b3c211;
}

.testimonial-5 .testimonial-item-new .left-line::before {
    background: #b3c211;
}

.testimonial-5 .testimonial-item-new .author-content h5 .desig {
    color: #b3c211;
}

.testimonial-5 .testimonial-item-new .author-img .icon{
    background: #b3c211;
}

/** Tab box 2 start **/
.tab-box-2 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: transparent;
    border-bottom: solid 2px #b3c211;
    border-radius: 0;
    color: #b3c211;
}

.tab-box .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background: #b3c211;
    border-radius: 0;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    border: 2px solid #b3c211;
}

input[type=checkbox]:checked + label:before {
    color: #b3c211;
}

.banner-bg-color{
    background: #b3c211;
}

.btn-theme{
    background: #b3c211;
    border: solid 1px #b3c211;
}

.btn-theme:hover{
    background: #9ba901;
    border: solid 1px #9ba901;
}

.btn-white-lg-outline:hover {
    color: #FFF;
    background: #b3c211;
    border: solid 2px #b3c211;
}

.properties-amenities ul li i {
    color: #b3c211
}

.pages-404 .btn {
    background: #b3c211;
}

.pages-404 .btn:hover {
    background: #9ba901;
}

.border-button-theme {
    color: #b3c211;
    border: 2px solid #b3c211;
}

.banner-detail-box .red-box {
    background: #b3c211 url(../../img/slider-detail.png) center center;
}

.banner-detail-box .white-box .slide-price {
    color: #b3c211;
}

.banner-detail-box .white-box .slide-location::after {
    background-color: #b3c211;
}

.search-options-btn, .search-options-btn:hover {
    background: #b3c211;
}

.search-button {
    background: #b3c211;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color: #b3c211;
}

.bootstrap-select .dropdown-menu > .active > a,
.bootstrap-select .dropdown-menu > .active > a:focus,
.bootstrap-select .dropdown-menu > .active > a:hover {
    color: #b3c211;
}

.contact .bootstrap-select .dropdown-menu li a:hover .text {
    color: #fff;
}

.contact .bootstrap-select .dropdown-menu li a:hover{
    background: #b3c211;
}

.listing-badges .featured {
    background-color: #b3c211;
}

.recent-properties-box .detail header::after {
    background-color: #b3c211;
}

.blog-1 .detail .post-meta span a i {
    color: #b3c211;
}

.blog-1 .detail h3 a:hover{
    color: #b3c211;
}

.blog-1 .date-box{
    color: #b3c211;
}

.about-info:before {
    border: 2px dashed #b3c211;
}

.property-box .detail .title a:hover {
    color: #b3c211;
}

footer .footer-item .contact-info li label a:hover {
    color: #b3c211;
}

.service-box .heading .number h5 {
    color: #b3c211;
}

.service-box .heading .title h4 a:hover {
    color: #b3c211;
}

.plan .price-header h1 {
    color: #b3c211;
}

.btn-outline {
    border: solid 1px #b3c211;
    color: #b3c211;
}

.btn-outline:hover {
    border: solid 1px #b3c211;
    background: #b3c211;
    color: #fff;
}

.btn-outline-2:hover {
    border: solid 1px #9ba901;
    background: #9ba901;
    color: #fff;
}

.btn-outline-2 {
    border: solid 2px #b3c211;
    color: #b3c211;
    font-weight: 600;
}

.heading-properties-2 h3 span {
    color: #b3c211;
}

.btn-outline-2:hover {
    border: solid 2px #9ba901;
    background: #9ba901;
    color: #fff;
}

.map-properties .map-properties-fetures span i{
    color: #b3c211;
}

.heading-properties-3 h1 span{
    color: #b3c211;
}

.heading-properties-2 h1 span{
    color: #b3c211;
}

.heading-properties-2 ul li i{
    color: #b3c211;
}

.heading-properties-2 .ratings-2 span{
    background: #b3c211;
}

.footer .form-inline .btn{
    background: #b3c211;
    color: #fff;
}

.about-box .detail h3 {
    color: #b3c211;
}

li.active.btn.filtr-button.filtr {
    color: #b3c211;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)!important;
}

.filteriz-navigation li:hover{
    color: #b3c211;
}

.change-view-btn {
    color: #b3c211;
    border: solid 1px #b3c211;
}

.change-view-btn:hover {
    border: solid 1px #b3c211;
    background: #b3c211;
}

.sub-banner .page-info .breadcrumb-area ul li a:hover {
    color: #b3c211;
}

.active-view-btn {
    background: #b3c211;
    border: solid 1px #b3c211;
}

.active-view-btn:hover {
    border: solid 1px #b3c211;
    color: #b3c211;
}

.show-more-options {
    color: #b3c211 !important;
}

.other-features .accordion-button{
    color: #b3c211;
}

.form-content-box .footer span a {
    color: #b3c211;
}

.pagination > li > .active {
    background: #b3c211;
}

.pagination > li > a:hover {
    background: #b3c211;
    color: #fff;
}

.read-more {
    color: #b3c211;
}

.blog-2 .date-box {
    background: #b3c211;
}

.slick-btn .slick-arrow-buton-2{
    color: #b3c211;
}

.property-box-5 .tag-2 {
    background: #b3c211;
}

.plan-price {
    color: #b3c211;
}

.slick-btn .sab-4:hover {
    background: #b3c211;
    color: #fff;
}

.slick-btn .sab-3:hover {
    background: #b3c211;
    color: #fff;
}

.blog-2 h4 a:hover{
    color: #b3c211;
}

.blog-3:hover .date-box{
    background: #b3c211;
}

.blog-2 .date-box::after {
    border-right: 10px solid #b3c211;
}

.blog-2 .detail h3 a {
    color: #b3c211;
}

.blog-2 .detail .post-meta span a i {
    color: #b3c211;
}

.range-slider .ui-slider .ui-slider-handle {
    background: #b3c211;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid #b3c211;
}

.range-slider .ui-widget-header {
    background-color: #b3c211;
}

.our-agent-sidebar .carousel-indicators .active{
    background: #b3c211;
}

.property-box-5 .detail h3 a{
    color: #b3c211;
}

.comon-slick .slick-next {
    color: #b3c211;
}

.comon-slick .slick-prev {
    color: #b3c211;
}

.carousel-indicators .active{
    background: #b3c211;
}

.property-box-3 .read-more-btn:hover {
    background: #b3c211;
}

.property-box-3 .read-more-btn {
    color: #b3c211;
}

.b-btn{
    color: #b3c211;
}

.posts-by-category ul li a:hover {
    color: #b3c211;
}

.testimonial-4 .testimonial-info .user-section:before{
    background: #b3c211;
}

.testimonial-4 .testimonial-info .icon{
    background: #b3c211;
}

.tags-box ul li a:hover {
    border: 1px solid #b3c211;
    background: #b3c211;
}

.latest-tweet a {
    color: #b3c211;
}

.comment-meta a {
    color: #b3c211;
}

.comment-meta a:hover {
    color: #9ba901;
}

.blog-tags a:hover {
    border: 1px solid #b3c211;
    background: #b3c211;
    color: #fff;
}

.banner-6 .meta ul li i {
    color: #b3c211;
}

.price-box span{
    color: #b3c211;
    font-weight: 700;
}

.banner-6 h2 span{
    color: #b3c211;
}

.leaflet-container a.leaflet-popup-close-button {
    color: #b3c211;
}

.breadcrumbs li a:hover {
    color: #b3c211;
}

.helping-center ul li i {
    color: #b3c211;
}

.my-account-box .title::after {
    background-color: #b3c211;
}

.dashboard-nav ul li.active, .dashboard-nav ul li:hover {
    border-color: #b3c211;
    color: #b3c211!important;
}

.dashboard-nav ul li.active a{
    color: #b3c211;
}

.active-pate{
    background: #b3c211;
    z-index: 999;
}

.banner-3 .slider-container .action-buttons button{
    background: #b3c211;
}

.banner-3 .isa-6{
    background: #b3c211;
}

.breadcrumb-nav ul .active {
    color: #b3c211;
}

.dashboard-nav ul li a:hover {
    color: #b3c211;
}

.photoUpload span {
    color: #fff;
}

.photoUpload{
    background: #b3c211;
}

.typography-page mark.color {
    background-color: #b3c211;
}

.faq-accordion .card-header .collapsed.card-title:before {
    color: #b3c211;
}

.manage-table .title-container h2 a {
    color: #b3c211;
}

.manage-table .action a:hover {
    color: #b3c211;
}

.comment-content .btn-1:hover{
    background: #b3c211;
    color: #fff;
}

.dashboard-nav ul li span.nav-tag {
    background: #b3c211;
}

.typography .list-3 li:before, .list-2 li:before, .list-1 li:before {
    color: #b3c211;
}

.numbered.color.filled ol > li::before {
    border: 1px solid #b3c211;
    background-color: #b3c211;
}

.numbered.color ol > li::before {
    border: 1px solid #b3c211;
    color: #b3c211;
}

.widget-link:hover {
    color: #b3c211;
}

.pages-404 .error404 span{
    color: #b3c211;
}

.property-box-2 .detail .title a {
    color: #b3c211;
}

.team-5 .text-section .btn-primary:hover{
    color: #b3c211;
}

.team-5 .text-section i:hover{
    color: #b3c211;
}

.team-5 .team-details .fa-user-circle{
    color: #b3c211;
}

.contact-2 .contact-info .ca-box i{
    color: #b3c211;
}

.list-group-item.active{
    background:  #b3c211;
    border: solid 1px #b3c211;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #b3c211;
}

.tab-box-2.tabbing-box .nav-link:hover {
    background-color: transparent;!important;
}

.tabbing-info .tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    color: #4d4d4d;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    background-color: #b3c211;
}

.testimonial-3 .carousel-indicators .active {
    background: #b3c211!important;
}

.banner-property-box .meta ul li{
    background: #b3c211;
}

.ss-search-style{
    background:#b3c211!important;
}

.view-all ul li a:hover {
    background: #b3c211;
    color: #fff;
}

.map-marker:hover {
    background-color: #b3c211;
    cursor: pointer;
}

.map-marker:hover:before {
    border-color: #b3c211 transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color: #b3c211;
}

.map-marker.featured:hover:before {
    border-color: #b3c211 transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid #b3c211;
}

.contact-section .form-section .checkbox-theme input[type="checkbox"]:checked + label::before {
    background-color: #ff2f2f;
    border-color: #ff2f2f;
}

.marker-active .map-marker {
    background-color: #b3c211;
}

.marker-active .map-marker:before {
    border-color: #b3c211 transparent transparent transparent;
}

.slick-arrow-buton:hover{
    background: #b3c211;
}

.map-properties .address i {
    color: #b3c211;
}

.map-properties .map-content h4 a {
    color: #b3c211;
}

.dropzone-design:hover {
    border: 2px dashed #b3c211;
}

.navbar-light .navbar-toggler {
    background: #b3c211;
}

/** Top header **/
.top-header .top-social-media li a:hover {
    background: #b3c211;
}

#top-header-2::after {
    background: #b3c211;
}

.top-header-3 .top-header-inner .top-contact-item i {
    color: #b3c211;
}

.top-header-3 .top-header-inner .top-contact-item p {
    color: #b3c211;
}

/** Main header **/
.main-header .dropdown-menu a:hover {
    color: #b3c211;
}

#main-header-1 .navbar-expand-lg .navbar-nav .active .nav-link {
    color: #b3c211;
    border-bottom: solid 3px #b3c211;
}

#main-header-1 .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #b3c211;
    border-bottom: solid 3px #b3c211;
}

#main-header-3 .navbar-expand-lg .active .nav-link {
    color: #b3c211;
}

#main-header-4 .header-right {
    background: #b3c211;
}

#main-header-4 .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #b3c211!important;
    border-bottom: solid 3px #b3c211;
}

#main-header-4 .navbar-expand-lg .active .nav-link{
    color: #b3c211!important;
    border-bottom: solid 3px #b3c211;
}

.main-header-5 .navbar-expand-lg .navbar-nav .h-icon {
    color: #b3c211;
}

.main-header-5 .navbar-expand-lg .navbar-nav .h-icon:hover {
    color: #b3c211!important;
}

#main-header-6{
    background: #b3c211;
}

/** Media **/
@media (min-width: 180px){
    .main-header-5.header-shrink {
        background: #b3c211!important;
    }

    .main-header-5.header-shrink .header-inner {
        background: #b3c211!important;
    }
}

@media (min-width: 992px){
    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #b3c211!important;
    }

    #main-header-5.header-shrink .navbar-expand-lg .navbar-nav .h-icon  {
        color: #b3c211;
    }

    #main-header-5 .navbar-expand-lg .navbar-nav .h-icon:hover {
        color: #b3c211!important;
    }

    #main-header-6.header-shrink .navbar-expand-lg .navbar-nav .h-icon  {
        color: #b3c211;
    }

    #main-header-6 .navbar-expand-lg .navbar-nav .h-icon:hover {
        color: #b3c211!important;
    }
}

@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color:#b3c211!important;
    }

    .main-header-5 {
        background: #b3c211!important;
    }

    .main-header-5 .header-inner {
        background: #b3c211!important;
    }

    #main-header-6 {
        background: #b3c211!important;
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color:#b3c211;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color:#b3c211 !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color:#b3c211 !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }

    .main-header .navbar-default .nav > li > a:hover {
        background:#b3c211;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }

}

@media all and (min-width: 992px) {
    .header-with-top2.sticky-header{
        background: #b3c211;
    }
}