{% extends 'user/basic.html' %} {% load static %} {% block title %} Meet The Team {%endblock title%} {% block css %} {% endblock css %} {% block body %}

<!-- Sub banner start -->
<div class="sub-banner">
  <div class="container">
    <div class="breadcrumb-area">
      <h1>{{page_data.member_name}}</h1>
      <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="active"><a href='/about'>About</a></li> <li class="active">blog</li>
      </ul>
    </div>
  </div>
</div>
<!-- Sub banner end -->
<div class="container my-5">

  <h1 class="h1 text-center py-4" style="color:#00CE8D;"><span style="color:#262525">Latest </span>News</h1>
  <hr style="height:5px;background-color: #00CE8D;"/>
  <p class="lead text-center py-3 mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting
    industry. Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a
    galley of type and scrambled it to make a type specimen book.
    1500s, when an unknown printer took a
    galley of type and scrambled it to make a type specimen book.
  </p>



  <div class="row">

    <div class="col-12 my-4 text-dark">
      <form class="d-flex justify-content-between gap-4">
          <div class="mb-3 w-100">
            <label for="Select" class="form-label">Topic</label>
            <select id="Select" class="form-select">
              <option>-Select Topic-</option>
            </select>
          </div>
          <div class="mb-3 w-100">
            <label for="Select" class="form-label">City</label>
            <select id="Select" class="form-select">
              <option>-Select City-</option>
            </select>
          </div>
      </form>
    </div>

    <!--Blog Card  Start-->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
      <div class="position-relative tm-card" style="height:550px!important">
        <img src="{% static 'img/background-index/1.jpg' %}"
        class="w-100" style="height:80%;object-fit:cover;">

        <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
          <div class="card text-dark bg-light mb-3">
            <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
            <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
            <div class="card-body">
              <p>
                Even though buying off-the-plan properties is becoming more and more common,
              </p>
              <a href="readblog"class="btn btn-lg cont-sec">Read more...</a>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!--Blog Card  End-->
    <!--Blog Card  Start-->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
      <div class="position-relative tm-card" style="height:550px!important">
        <img src="{% static 'img/background-index/1.jpg' %}"
        class="w-100" style="height:80%;object-fit:cover;">

        <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
          <div class="card text-dark bg-light mb-3">
            <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
            <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
            <div class="card-body">
              <p>
                Even though buying off-the-plan properties is becoming more and more common,
              </p>
              <a href="readblog"class="btn btn-lg cont-sec">Read more...</a>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!--Blog Card  End-->
    <!--Blog Card  Start-->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
      <div class="position-relative tm-card" style="height:550px!important">
        <img src="{% static 'img/background-index/1.jpg' %}"
        class="w-100" style="height:80%;object-fit:cover;">

        <div style="position:absolute;bottom:0;z-index:2" class="p-1 w-100 mx-auto">
          <div class="card text-dark bg-light mb-3">
            <h5 class="pt-3 mb-0 ps-3">Your Guide to Investing in Property That Hasn’t Begun Construction </h5>
            <p class="card-header pb-3"><i class="fa fa-calendar"></i> January 4, 2023</p>
            <div class="card-body">
              <p>
                Even though buying off-the-plan properties is becoming more and more common,
              </p>
              <a href="readblog"class="btn btn-lg cont-sec">Read more...</a>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!--Blog Card  End-->
  </div>

<!-- Tools Area Start -->
  <div class="row mt-5">
    <h1 class="h1 text-center py-4" style="color:#00CE8D;"><span style="color:#262525">We Support you </span>all the Way</h1>

    <div class="col-lg-4 col-12 mb-5">

      <div class="position-relative tm-card" style="height:400px!important;box-shadow:0 5px 15px rgba(0,0,0,0.8)">
        <img src="{% static 'img/img-1.jpg' %}"
        class="w-100" style="height:100%;object-fit:cover;">
        <div class="card-body bg-none w-100" style="position:absolute;top:5%;z-index:2">
          <h3 class="h3 py-2 pb-1 text-light fw-bold">City Guide</h3>
          <hr style="height:5px;background-color: #00CE8D;opacity:1;width:50%;"/>
        </div>

        <div class="card-body bg-none w-100 d-flex justify-content-center" style="position:absolute;bottom:5%;z-index:2">
          <a href="readblog"class="btn btn-lg cont-sec">Read more...</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-12 mb-5">

      <div class="position-relative tm-card" style="height:400px!important;box-shadow:0 5px 15px rgba(0,0,0,0.8)">
        <img src="{% static 'img/img-1.jpg' %}"
        class="w-100" style="height:100%;object-fit:cover;">
        <div class="card-body bg-none w-100" style="position:absolute;top:5%;z-index:2">
          <h3 class="h3 py-2 pb-1 text-light fw-bold">Events</h3>
          <hr style="height:5px;background-color: #00CE8D;opacity:1; width:50%;"/>
        </div>

        <div class="card-body bg-none w-100 d-flex justify-content-center" style="position:absolute;bottom:5%;z-index:2">
          <a href="readblog"class="btn btn-lg cont-sec">Read more...</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-12 mb-5">

      <div class="position-relative tm-card" style="height:400px!important;box-shadow:0 5px 15px rgba(0,0,0,0.8)">
        <img src="{% static 'img/img-1.jpg' %}"
        class="w-100" style="height:100%;object-fit:cover;">
        <div class="card-body bg-none w-100" style="position:absolute;top:5%;z-index:2">
          <h3 class="h3 py-2 pb-1 text-light fw-bold">Our Services</h3>
          <hr style="height:5px;background-color: #00CE8D;opacity:1;width:50%;"/>
        </div>

        <div class="card-body bg-none w-100 d-flex justify-content-center" style="position:absolute;bottom:5%;z-index:2">
          <a href="readblog"class="btn btn-lg cont-sec">Read more...</a>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-6 col-12 mb-5">

      <div class="position-relative tm-card" style="height:400px!important;box-shadow:0 5px 15px rgba(0,0,0,0.8)">
        <img src="{% static 'img/img-1.jpg' %}"
        class="w-100" style="height:100%;object-fit:cover;">
        <div class="card-body bg-none w-100" style="position:absolute;top:5%;z-index:2">
          <h3 class="h3 py-2 pb-1 text-light fw-bold">Mortgage Calculator</h3>
          <hr style="height:5px;background-color: #00CE8D;opacity:1;width:50%;"/>
        </div>

        <div class="card-body bg-none w-100 d-flex justify-content-center" style="position:absolute;bottom:5%;z-index:2">
          <a href="readblog"class="btn btn-lg cont-sec">Read more...</a>
        </div>
      </div>
    </div>


    <div class="col-md-6 col-12 mb-5">

      <div class="position-relative tm-card" style="height:400px!important;box-shadow:0 5px 15px rgba(0,0,0,0.8)">
        <img src="{% static 'img/img-1.jpg' %}"
        class="w-100" style="height:100%;object-fit:cover;">
        <div class="card-body bg-none w-100" style="position:absolute;top:5%;z-index:2">
          <h3 class="h3 py-2 pb-1 text-light fw-bold">Properties Search </h3>
          <hr style="height:5px;background-color: #00CE8D;opacity:1;width:50%;"/>
        </div>

        <div class="card-body bg-none w-100 d-flex justify-content-center" style="position:absolute;bottom:5%;z-index:2">
          <a href="readblog"class="btn btn-lg cont-sec">Read more...</a>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Tools Area End -->

<div class="row bg-para mx-0 d-flex justify-content-center">

    <div class="col-lg-4 col-12 p-3 d-flex align-items-center justify-content-center">
      <img src="{% static 'img/logo/logo1.png' %}"
      class="w-75 img-fluid" style="max-width:250px;">
    </div>
    <div class="col-lg-4 p-3 col-12 d-flex align-items-center justify-content-center">
      <div>
      <h2 class="h2" style="color:#00CE8D;">Come and Discuss</h2>
      <h4 class="h4 text-light">Your Goal</h4>
      <h4 class="h4 text-light">Your Vision</h4>
      <h4 class="h4 text-light">Your Property Portfolio</h4>
      </div>
    </div>
    <div class="col-lg-4 col-12 d-flex align-items-center justify-content-center p-3">
      <button class="btn btn-lg cont-sec"><i class="fa fa-group"></i> Talk To Us</button>
    </div>
</div>
{%endblock body%} {% block script %} {% endblock script %}
