{% extends 'user/basic.html' %} {% load static %}
{% block title %} City-Guide{{page_data.page_name}}{% endblock title%} {% block css %}
<style>
    .counter-box-1 p {
        font-size: 14px;
    }
</style>

{% endblock css %}


{% block body %}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>City Guide</h1>
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li class="active">City Guide</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->


<div class="about-real-estate  content-area-5 bg-grea-3 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text clearfix">
                    <h3>{{data}}

                        What makes Birmingham a UK property hotspot?
                    </h3>
                    <p>
                        Why buy property in Ashford?

                        Ashford is the gold standard property market in the London Commuter Belt. With direct rail links
                        to London and Paris, this is the ideal location for global businesses and many have chosen
                        Ashford to be their base – providing high quality jobs in the process.

                        Furthermore, Ashford is also close to both of London’s major airports. Gatwick is only an hour
                        away via car and Heathrow is an hour and 30 minutes away via car. London Ashford Airport is even
                        closer, and is set to undergo a major refurbishment that will make it an even more useful
                        resource for the town.

                        Consequently, Ashford is in a prime position to keep growing in the future, having already seen
                        significant population growth in recent years as more and more people relocate from London. The
                        availability of high quality jobs and close proximity to London are the perfect recipe for a
                        growing property market, and this is the perfect time to buy in one of the London Commuter
                        Belt’s finest areas.

                        The latest figures from Rightmove show that property prices in Ashford are 10% higher than the
                        pre-pandemic peak, and the conditions are right for them to keep growing. With entry prices as
                        much as 39% lower than the London average, this is potentially a lucrative opportunity which can
                        benefit homebuyers and investors alike.
                        Train times via Eurostar
                        38 mins
                        Travel to London
                        < 120 mins Travel to Paris </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-img-section">
                    <div class="image-box sssa">
                        <div class="image-1"><img
                                src="https://www.sellhousefast.uk/blog/wp-content/uploads/2016/05/Phil-Williams-thatched-cottage-small.jpg"
                                class="w-100" alt="photo"></div>
                    </div>
                    <div class="about-box-Experience">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Counters strat -->
<div class="counters-1">
    <div class="container">
        <div class="main-title text-center">
            <h1>Why is Birmingham one of the UK’s best property investment locations? </h1>
            <p>Birmingham is home to a large population of residents and students that is growing rapidly. Over one
                million people live in the city, with projections from Birmingham City Council showing that this number
                could increase by as much as 7.8% in the next 15 years. Often referred to as the UK’s second city, it
                has turned itself into one of the country’s economic superpowers, being host to a number of
                multinational businesses and innovative start-ups.</p>
        </div>
        <div class="row g-0">
            <div class="col-lg-3 col-md-6 col-sm-6 border-l border-r">
                <div class="counter-box-1">
                    <img class="flaticon-sale"
                        src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/08/Logos-Website-16_16_11zon.jpg"
                        style="height: 100px;"></i>
                    <h1 class="">7.8%</h1>
                    <p>Estimated population growth in the next 15 years</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 border-l border-r">
                <div class="counter-box-1">
                    <img class="flaticon-sale"
                        src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/08/Logos-Website-10_10_11zon.jpg"
                        style="height: 100px;"></i>
                    <h1 class="">80,000</h1>
                    <p>Large number of students make up the population of Birmingham</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 border-l border-r">
                <div class="counter-box-1">
                    <img class="flaticon-sale"
                        src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/08/Logos-Website-16_16_11zon.jpg"
                        style="height: 100px;"></i>
                    <h1 class="">27%</h1>
                    <p>Estimated property price increase in the City by 2026, more than any other UK City (JLL)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 border-l border-r">
                <div class="counter-box-1">
                    <img class="flaticon-sale"
                        src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/08/Logos-Website-11_11_11zon.jpg"
                        style="height: 100px"></i>
                    <h1 class="">65,000</h1>
                    <p>Estimated number of new homes needed by 2031 to satisfy the growing population (Birmingham City
                        Council)</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Counters end -->
<div class="contact-2 content-area-17">
    <div class="container">

        <div class="row">

            <div class="col-lg-7">

                <div class="contact-form">
                    <div class="form-group name">
                        <h1>Birmingham
                            economic growth?</h1>
                        <p>

                            The Commonwealth Games attracted headlines for Birmingham this year, and it also
                            promises to bring thousands of permanent jobs and a potential £1.2bn uplift in the long
                            term as part of its legacy. This is a major benefit for the city and fits perfectly
                            alongside other investments and regeneration projects, which are creating jobs and
                            growing the local economy.  
                            <hr>
                        </p>
                        <p>
                            Projects like the Big City Plan, the Smithfield Masterplan and more are underway and
                            promise to benefit Birmingham in the long term. These are multi-year plans with serious
                            funding which will create jobs and the conditions for further business growth over the
                            coming decades. They will make Birmingham more attractive for businesses and workers who
                            want to enjoy all the benefits of high quality jobs along with the dynamic, thriving
                            lifestyle that Birmingham offers.
                        </p>
                        <hr>
                        <p>

                            In addition, the HS2 high speed rail line plans to totally transform Birmingham by
                            dramatically cutting the time it takes to get to London and Manchester by train. This
                            will be a huge economic boost for the city and will spotlight Birmingham as a major
                            economic destination. </p>

                        <hr>
                        <p>

                            All future economic growth comes on top of a strong foundation. Irwin Mitchell’s UK
                            Powerhouse Report shows that Birmingham has already delivered 6.9% economic growth in
                            2021 as it recovered from the pandemic – making it a city on the up and one of the most
                            promising places in the UK. Furthermore, 2.3% economic growth a year is projected going
                            forward, making Birmingham an ideal place to buy for both homeowners and investors.
                        </p>
                    </div>


                </div>
            </div>
            <div class="col-lg-5">
                <div class="contact-info">
                    <h3 class="mb-20">Economy stats</h3>
                    <div class="ca-box d-flex mb-30">
                        <div class="detail">
                            <h5>£31.9bn</h5>
                            <p> The size of Birmingham’s economy (Birminghan City Council) </p>
                        </div>
                    </div>
                    <div class="ca-box d-flex mb-30">
                        <div class="detail">
                            <h5>6.9%</h5>
                            <p> Economic growth in 2021 (Irwin Mitchell and CEBR)</p>
                        </div>
                    </div>
                    <div class="ca-box d-flex mb-30">
                        <div class="detail">
                            <h5>2.3%</h5>
                            <p> Economic growth projected annually going forward (Irwin Mitchell and CEBR)</p>
                        </div>
                    </div>
                    <div class="ca-box d-flex mb-30">
                        <div class="detail">
                            <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/09/morning-reflections-gas-street-basin-heart-birmingham-s-canal-network-1024x683.jpg"
                                style="height: 300px;;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services content-area">
    <div class="container">
        <div class="main-title text-center">
            <h1>What makes Ashford a UK property hotspot?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-user"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>
                            <a href="services.html">Personalized Service Possible</a>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the</p>
                        <a class="read-more" href="services.html">Read more...</a>
                        <h4>01</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-empire-state-building"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>
                            <a href="services.html">Luxury Real Estate Experts</a>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard</p>
                        <a class="read-more" href="services.html">Read more...</a>
                        <h4>02</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="service-info-3 d-flex">
                    <div class="icon">
                        <i class="flaticon-discount"></i>
                    </div>
                    <div class="detail align-self-center">
                        <h3>
                            <a href="services.html">Modern Building For Rent $ Sell</a>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the</p>
                        <a class="read-more" href="services.html">Read more...</a>
                        <h4>03</h4>
                    </div>
                </div>
            </div>
        </div>




        <!-- Featured properties start -->
        <div class="featured-car-section comon-slick content-area">
            <div class="container">
                <!-- Main title -->
                <div class="main-title-5">
                    <h1>Featured <span> developments
                        </span></h1>
                    <div class="title-border">
                        <div class="title-border-inner"></div>
                        <div class="title-border-inner"></div>
                        <div class="title-border-inner"></div>
                    </div>
                </div>
                <div class="slick row"
                    data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                    {%for property in properties %}
                    <div class="item">
                        <div class="property-box">
                            <div class="property-photo">
                                <a href="/properties/{{property.id}}" class="property-img">
                                    <div class="listing-badges">
                                        <span class="featured">Featured</span>
                                    </div>
                                    <div class="price-box">From <span> ${{property.price}}
                                        </span></div>
                                    <img class="d-block w-100" src="/media/{{property.image}}" alt="properties">
                                </a>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="/properties/{{property.id}}">{{property.title}}</a>
                                </h1>

                                <div class="location">
                                    <a href="/properties/{{property.id}}">
                                        <i class="flaticon-pin"></i>{{property.adddress}}
                                    </a>
                                </div>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>
                                    <span>Area</span>{{property.area}}
                                </li>
                                <li>
                                    <span>Beds</span> {{property.bathrooms}}
                                </li>
                                <li>
                                    <span>Baths</span> {{property.room}}
                                </li>
                                <li>
                                    <span>Garage</span> 1
                                </li>
                            </ul>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <!-- Featured properties end -->
    </div>

</div>
{%endblock body%}
</div>