{% extends 'user/basic.html' %} {% load static %} {% block title %} Contact Us{% endblock title%} {% block css %} {% endblock css %} {% block body %}
<!-- Sub banner start -->
<div class="sub-banner">
  <div class="container">
    <div class="breadcrumb-area">
      <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="active">Contact Us</li>
      </ul>
    </div>
  </div>
</div>
<!-- Sub Banner end -->

<div class="contact-2 content-area-17">
    <div class="container">
        <!-- Main title --><div class="main-title text-center">
            <h1>Contact Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div>
            <div class="row g-0 contact-innner">
                <div class="col-lg-7">
                    <div class="pipedriveWebForms" data-pd-webforms=https://webforms.pipedrive.com/f/5VJtmmm0Bokw4VROSeceSIwHq8toxTB1PagJZHJpJSiuelBP8PrMteXLYtDTUYEpCr><script src=https://webforms.pipedrive.com/f/loader></script></div>
                </div>
                <div class="col-lg-5">
                    <div class="contact-info">
                        <h3 class="mb-20">Contact Info</h3>
                        <div class="ca-box d-flex mb-30">
                            <i class="flaticon-pin me-3"></i>
                            <div class="detail">
                                <h5>Address</h5>
                                <p> Arrive, White, MediaCityUK, M50 2NT</p>
                            </div>
                        </div>
                        <div class="ca-box d-flex mb-30">
                            <i class="flaticon-phone me-3"></i>
                            <div class="detail">
                                <h5>Phone Number</h5>
                                <p><a href="tel: +44 (0) 161 713 3883"> +44 (0) 161 713 3883</a></p>                            </div>
                        </div>
                        <div class="ca-box d-flex mb-30">
                            <i class="flaticon-mail me-3"></i>
                            <div class="detail">
                                <h5>Email Address</h5>
                                <p><a href="mailto:info@lpcinvest.com"> info@lpcinvest.com</a></p>
                            </div>
                        </div>
                        <div class="ca-box d-flex">
                            <i class="flaticon-fax me-3"></i>
                            <div class="detail">
                                <h5>Fax</h5>
                                <p><a href="tel:0477-0477-8556-552">+0477 8556 552</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<!-- Google map start -->
<div class="section contact-2-map">
    <div class="map">
        <div id="map" class="contact-map"></div>
    </div>
</div>
{%endblock body%} 

{% block script %} {% endblock script %}
