{% extends 'user/basic.html' %}
{% load static %}

{% block title %} UK Property Investments{% endblock title%}

{% block css %}

<style>
.property-photo img{
    width:400px;height:256px;
}
.slick-slide-item{
    height:400px!important;
}
</style>

{% endblock %}{% block body %}


<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item item-bg active">
                <img class="d-block w-100 h-100" src="{% static 'img/background-index/2.jpg' %}" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                    <div class="carousel-content container align-self-center">
                        <div class="banner-info2">
                            <div class="text-l">
                                <h3 class="text-uppercase">Discover Modern Villa</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                </p>
                                <div class="inline-search-area isa-5 isa-992 clearfix">
                                    <form method='get' action='/search'>
                                        <div class="row">
                                            <div class="autocomplete col-md-6 col-sm-12 col-12" id='autocomplete'>
                                                <input class="form-control search-fields sf" name='query' id="query"
                                                    placeholder="Search for Property and Property type"
                                                    hx-get="/search/autocompldete" hx-trigger="keyup changed delay:100ms"
                                                    hx-target="#search-results" hx-indicator=".htmx-indicator">
                                            </div>
    
                                            <div class="col-md-3 col-sm-6 col-6">
                                                <select class="selectpicker search-fields" name="properties_status"
                                                    id="properties_status">
                                                    <option type="button" value="all">All Status </option>
                                                    {%for status in common_properties_data.status%}
                                                    <option>{{status}}</option>
                                                    {%endfor%}
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-6">
                                                <button class="btn button-theme btn-search w-100 mb-0">
                                                    <strong>Search</strong>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="carousel-item item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/background-index/3.jpg' %}" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-start">
                    <div class="carousel-content container align-self-center">
                        <div class="t-left banner-info2">
                            <div class="text-l">
                                <h3 class="text-uppercase">Find Your Amazing Home</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
   
</div>
<!-- Banner end -->

<!-- Featured properties start -->
<div class="featured-car-section comon-slick content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title-5">
            <h1>Featured <span>Properties</span></h1>
            <div class="title-border">
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
            </div>
        </div>

        <div class="slick row" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
           
            {%for property in properties %}

            <div class="item">
                <div class="property-box-3">
                    <img src="/media/{{property.image}}" alt="photo" class="img-fluid w-100" style="height: 350px;">
                    <div class="ling-section">
                        <h3>
                            <a href="/properties/{{property.id}}">{{property.title}}</a>
                        </h3>
                        <ul class="member-socials clearfix">
                            <li>
                                <i class="fa fa-map-marker"></i> {{property.city | title}}
                            </li>                          
                        </ul>
                        {%if property.yields %}
                        <ul class="member-socials clearfix">
                            <li>
                                <i class="fa fa-info-circle"></i> Net Yields: {{property.yields}}
                            </li>
                        </ul>
                        {%endif%}
                        <a href="/properties/{{property.id}}" class="read-more-btn">Read More</a>
                    </div>
                </div>
            </div>
         
{%endfor%}
        </div>
    </div>
</div>

<!-- Featured properties end -->


<!-- Services start -->
<div class="services mt-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title-5 ">
            <h1>What Are You <span>Looking For</span></h1>
            <div class="title-border mb-4">
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="service-info-4">
                    <i class="flaticon-apartment"></i>
                    <h3>Apartments</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    </p>
                    <a href="/property-type/appartments/" class="read-more">
                        View
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-info-4">
                    <i class="flaticon-empire-state-building"></i>
                    <h3>Studios</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    </p>
                    <a href="/property-type/studio/" class="read-more">
                        View
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-info-4">
                    <i class="flaticon-car"></i>
                    <h3>Garages</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    </p>
                    <a href="/property-type/appartments/" class="read-more">
                        View
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-info-4">
                    <i class="flaticon-trust"></i>
                    <h3>Buyers Trust Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    </p>
                    <a href="/property-type/appartments/" class="read-more">
                        View
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->

<!-- Popular places section strat -->
<div class="popular-places-section content-area-7">
    <div class="container">
        <!-- Main title -->
        <!-- Main title -->
        <div class="main-title-5">
            <h1>Most Popular <span>Places</span></h1>
            <div class="title-border">
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="popular-places">
                            <div class="popular-places-inner">
                                <div class="popular-places-overflow">
                                    <div class="popular-places-photo">
                                        <img class="img-fluid w-100" src="{% static 'img/cities/pop_city.jpg' %}" alt="properties">
                                    </div>
                                    <div class="info">
                                        <h3>
                                            <a href="/city/birmingham">Birmingham</a>
                                        </h3>
                                        <p>3 Properties</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="popular-places">
                            <div class="popular-places-inner">
                                <div class="popular-places-overflow">
                                    <div class="popular-places-photo">
                                        <img class="img-fluid w-100" src="{% static 'img/cities/pop_city.jpg' %}"
                                            alt="properties">
                                    </div>
                                    <div class="info">
                                        <h3>
                                            <a href="/city/manchester">Manchester</a>
                                        </h3>
                                        <p>8 Properties</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="popular-places">
                            <div class="popular-places-inner">
                                <div class="popular-places-overflow">
                                    <div class="popular-places-photo w-100">
                                        <img class="img-fluid" src="{% static 'img/cities/pop_city.jpg' %}" alt="properties">
                                    </div>
                                    <div class="info">
                                        <h3>
                                            <a href="/city/leeds">Leeds</a>
                                        </h3>
                                        <p>4 Properties</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="popular-places">
                            <div class="popular-places-inner">
                                <div class="popular-places-overflow">
                                    <div class="popular-places-photo w-100">
                                        <img class="img-fluid" src="{% static 'img/cities/pop_city.jpg' %}" alt="properties">
                                    </div>
                                    <div class="info">
                                        <h3>
                                            <a href="/city/manchester">London</a>
                                        </h3>
                                        <p>2 Properties</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="popular-places">
                    <div class="popular-places-inner">
                        <div class="popular-places-overflow">
                            <div class="popular-places-photo">
                                <div class="popular-places-photodd">
                                    <img class="img-fluid big-img w-100" src="{% static 'img/cities/pop_city.jpg' %}"
                                        alt="properties">
                                </div>
                            </div>
                            <div class="info">
                                <h3>
                                    <a href="/all-properties">United States</a>
                                </h3>
                                <p>20 Properties</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Popular places section end -->

<!-- Counters 2 strat -->
<div class="counters-2">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-3 col-md-6 col-sm-6 border-r border-l">
                <div class="counter-box-2">
                    <i class="flaticon-sale"></i>
                    <h1 class="counter">967</h1>
                    <p>Listings {{property.status}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 border-r">
                <div class="counter-box-2">
                    <i class="flaticon-rent"></i>
                    <h1 class="counter">1276</h1>
                    <p>Listings For Rent</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 border-r">
                <div class="counter-box-2">
                    <i class="flaticon-user"></i>
                    <h1 class="counter">396</h1>
                    <p>Agents</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 border-r">
                <div class="counter-box-2">
                    <i class="flaticon-broker"></i>
                    <h1 class="counter">177</h1>
                    <p>Brokers</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters 2 end -->

<!-- Our team start -->
<div class="our-team content-area p-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title-5">
            <h1>Meet <span>Our Team</span></h1>
            <p> Let us help you find your perfect investment today.</p>

        </div>
        <div class="row">
            {%for member in team_members %}
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="team-5">
                    <div class="team-info">
                        <img src="/media/{{member.image}}"
                            alt="agent-5" class="img-fluid" style="max-height:400px;">
                    </div>
                    <div class="team-box">
                        <div class="team-details">
                            <i class="fa fa-user user d-lg-none"></i>
                            <div>
                                <a href="/team-member/{{member.name}}/{{member.id}}">
                                    <h4 class='text-capitalize'>{{member.name}}</h4>
                                </a>
                                <p>{{member.role}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
          
        </div>


      
    </div>
</div>
<!-- Our team end -->

<!-- Testimonial 5 start -->
<div class="testimonial-5 comon-slick content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title-5">
            <h1>Our <span>Testimonial</span></h1>
            <div class="title-border mb-4">
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
            </div>
        </div>
        <div class="slick row comon-slick-inner"
            data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 1}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
            <div class="item slide-box">
                <div class="testimonial-item-new">
                    <div class="author-img fix">
                        <div class="author-avatar">
                            <img src="https://img.freepik.com/free-photo/money-likes-confidence-self-assured-charismatic-intelligent-handsome-man-with-brown-hair-beard-blue-eyes-holding-paper-cup-coffee-smiling-happily-meeting-cute-girl-after-work-cafe_176420-22693.jpg?w=740&t=st=1670398220~exp=1670398820~hmac=2cb2d6e9ac136b2801237a1bb21dbc343d04f85e7b708b50f0cc04c2d8aa1f2d"
                                alt="testimonial-5">
                            <div class="icon">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="author-content">
                        <h5 class="left-line pl-40">Somalia Silva, <span class="desig">Director</span></h5>
                    </div>
                    <p>But I must explain to you how all this mistake denouncing pleasure and praising pain was born
                        and I will give you a complete account of the system, and expound the actual</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div>
                </div>
            </div>
            <div class="item slide-box">
                <div class="testimonial-item-new">
                    <div class="author-img fix">
                        <div class="author-avatar">
                            <img src="https://img.freepik.com/free-photo/money-likes-confidence-self-assured-charismatic-intelligent-handsome-man-with-brown-hair-beard-blue-eyes-holding-paper-cup-coffee-smiling-happily-meeting-cute-girl-after-work-cafe_176420-22693.jpg?w=740&t=st=1670398220~exp=1670398820~hmac=2cb2d6e9ac136b2801237a1bb21dbc343d04f85e7b708b50f0cc04c2d8aa1f2d"
                                alt="testimonial-5">
                            <div class="icon">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="author-content">
                        <h5 class="left-line pl-40">Michelle Nelson, <span class="desig">Consultant</span></h5>
                    </div>
                    <p>But I must explain to you how all this mistake denouncing pleasure and praising pain was born
                        and I will give you a complete account of the system, and expound the actual</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div>
                </div>
            </div>
            <div class="item slide-box">
                <div class="testimonial-item-new">
                    <div class="author-img fix">
                        <div class="author-avatar">
                            <img src="https://img.freepik.com/free-photo/money-likes-confidence-self-assured-charismatic-intelligent-handsome-man-with-brown-hair-beard-blue-eyes-holding-paper-cup-coffee-smiling-happily-meeting-cute-girl-after-work-cafe_176420-22693.jpg?w=740&t=st=1670398220~exp=1670398820~hmac=2cb2d6e9ac136b2801237a1bb21dbc343d04f85e7b708b50f0cc04c2d8aa1f2d"
                                alt="testimonial-5">
                            <div class="icon">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="author-content">
                        <h5 class="left-line pl-40">Carolyn Stone, <span class="desig">Designer</span></h5>
                    </div>
                    <p>But I must explain to you how all this mistake denouncing pleasure and praising pain was born
                        and I will give you a complete account of the system, and expound the actual</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial 5 end -->

<!-- Contact section start -->
<div style="box-shadow:0 0 10px rgba(0,0,0,0.2)">
<div class="container" >
  <div class="row d-flex justify-content-around p-3" >
    <div class="col-12 col-md-6 p-3">
      <p class="text-lead">Want to know more?</p>
      <h3 class="display-5 pb-4" style="color:#00CE8D;"><span style="color:#252626">Contact us</span> today</h3>
      <div class="d-flex justify-content-between">
        <a href="tel://+44 161 713 3883"> <button type="button" class="btn p-2 cont-sec"><i class="fa fs-5 fa-phone px-2"></i>Call Us</button></a>
        <a href="https://api.whatsapp.com/send?phone=1617133883&text=Hi%2C I enquired through the LPC-Invest website and am interested in your project" target="_blank">
            <button type="button" class="btn p-2 cont-sec"><i class="fa fs-5 fa-whatsapp px-2"></i>whatsapp</button></a>
      </div>

      <p class="lead py-4">
        Our team of expert property consultants are on hand to answer your questions and help you plan your perfect investment. Book an appointment today to start your investment journey.
      </p>
      <div class="d-flex justify-content-between">
        <a href="mailto:info@lpcinvest.com"><button type="button" class="btn cont-sec p-2"><i class="fa fs-5 fa-envelope px-2"></i>Email</button></a>
        <a href="https://calendly.com/tusharspatil808/30min?month=2022-12" target="_blank">
        <button type="button" class="btn cont-sec p-2"><i class="fa fs-5 fa-edit px-2"></i>Appointment</button></a>
      </div>

    </div>
    <div class="col-12 col-md-5 p-3">
      <img class="img-fluid object-fit-cover h-100 rounded" style="box-shadow:0 0 10px rgba(0,0,0,0.5);" src="/media/media/iStock-171572347-1-scaled.jpg"/>
    </div>
  </div>
</div>
</div>
<!-- Contact section End -->

<!-- Blog start -->
<div class="blog comon-slick content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title-5">
            <h1>Our <span>Blog</span></h1>
            <div class="title-border">
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
            </div>
        </div>
        <div class="slick row comon-slick-inner"
            data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
            <div class="item slide-box">
                <div class="blog-3 b-photo2">
                    <div class="date-box">
                        <span>24</span> May
                    </div>
                    <div class="blog-info">
                        <h3><a href="blog-single-sidebar-right.html">Find Your Best Real Estate</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting...</p>
                    </div>
                </div>
            </div>
            <div class="item slide-box">
                <div class="blog-3 b-photo3">
                    <div class="date-box">
                        <span>21</span> July
                    </div>
                    <div class="blog-info">
                        <h3><a href="blog-single-sidebar-right.html">Selling Your Real House</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting...</p>
                    </div>
                </div>
            </div>
            <div class="item slide-box">
                <div class="blog-3 b-photo3">
                    <div class="date-box">
                        <span>27</span> April
                    </div>
                    <div class="blog-info">
                        <h3><a href="blog-single-sidebar-right.html">Selling Your Real House</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting...</p>
                    </div>
                </div>
            </div>
            <div class="item slide-box">
                <div class="blog-3 b-photo4">
                    <div class="date-box">
                        <span>14</span> March
                    </div>
                    <div class="blog-info">
                        <h3><a href="blog-single-sidebar-right.html">Buying a Best House</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog end -->
<!-- Partners strat -->
<div class="partners bg-grea-5">
    <div class="container">
        <h4 class='mb-3'>Partners</h4>
        <div class="row">
            <div class="col-lg-12 mt-3">

              <div class="custom-slider slide-box-btn row d-none d-sm-block">
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
                  <div class="custom-box"><img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand"></div>
              </div>

                <div class="custom-slider slide-box-btn row d-xs-block d-sm-none">
                    <div class="custom-box col-sm-12 d-flex justify-content-between" >
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                    </div>
                    <div class="custom-box col-sm-12 d-flex justify-content-between" >
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                    </div>
                    <div class="custom-box col-sm-12 d-flex justify-content-between" >
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                    </div>
                    <div class="custom-box col-sm-12 d-flex justify-content-between" >
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                    </div>
                    <div class="custom-box col-sm-12 d-flex justify-content-between" >
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                      <img src="https://www.northpropertygroup.co.uk/wp-content/uploads/2022/05/rightmove.png" alt="brand">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partners end -->


{%endblock body%}
